.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#pdf-canvas {
  border: 1px solid black;
  min-width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}
#controls {
  margin-bottom: 10px;
}